@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// mixins

@mixin theme($color){
  color: white;

  .wire{
    transition: 0.5s;
    background: white;
  }

  .text-container, .title-container{
    border: 1px solid black;
    transition: 0.5s;
    &:hover{
      border-color: $color;
      background: black;
      .wire{
        background: $color;
      }
    }
  }
  .hero-subtitle-text:hover{
    color: $color;
  }

  .hero-right-content{ 
    border: 1px solid rgba(0, 0, 0, 0);
    &:hover{
     cursor: pointer;
    width: 343px;
    border-color: $color;
    background: black;
    color: $color;
    }
    img{
      border: 1px solid $color;
      transform: translateX(-1px);
    }
  }

  .svg-container{
    svg{
      display: flex;
      fill: white;
      width: 20px;
    }
    :hover{
      svg{
        fill: $color;
      }
    }
  }
  .navbar-center{
    opacity: 0;
    width: 300px;

    &:hover{
      opacity: 1;
    }

    @include mobile{
      display: none;
    }
  }




  ::selection {
    color: $black-transparent;
    background:  $color;
  }

  .text-container, .title-container{
    background-color: $black-transparent;
    padding: 0px 10px;
  }


  .link{
    color: $color;
    text-decoration: none;
    font-weight: 400;
    &:hover{
    font-weight: 700;

    }

  
  }

  .bg-toggle {
    .toggle {
      position: relative;
    }

    .toggle input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .toggle {
      color: #fff;
      font-size: 6em;
      display: block;
    }

    .slider {
      position: relative;
      display: block;
      cursor: pointer;
      background-color: black;
      transition: 0.4s;
      width: 40px;
      height: 20px;
    }

    .slider:before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: #fff;
      transition: 0.4s;
      top: 0px;
      left: 0px;
    }

    input:checked + .slider {
      background-color: $color;

      //box-shadow: 0 0 12px $amber;
    }

    input:checked + .slider:before {
      //background: $amberLighter;

      transform: translateX(20px);
    }

    .slider.round {
      border-radius: 1em;
    }
    .slider.round::before {
      border-radius: 100%;
    }
  }
}

// responsive breakpoints
$mobileW: 1023px;
@mixin mobile() {
  @media screen and (max-width: $mobileW) {
    @content;
  }
}

//colors:
$black-transparent: rgba(0, 0, 0, 0.8);
$amber: #ffb000;
$amberLighter: hsl(41, 100%, 80%);
$js: #f0db4f;
$py: #4B8BBE;
$sol: #1BE6E7;
$react: #61DBFB;
$vue: #41B883;
$node: #3c873a;
$xprs: #68a063;
$sqlz: #01AFEF;
$mongo: #4DB33D;
$psql: #0064a5;


* {
  margin: 0;
  padding: 0;
}

::selection {
  color: $amber;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1em;
}

/* Handle on hover */


html,
body {
  overflow: overlay;
  // cool green = #00F75C
  // amber = #FFB000
  // yellow = #FFCC00
  // red = #cc0000
  // blue = #0000ff
  //height: 100vh;
  font-size: 62.5%;
  .theme00F75C{
    @include theme(#00F75C);
  }
  .themeFFB000{
    @include theme(#FFB000);
  }
  .themeFFCC00{
    @include theme(#FFCC00);
  }
  .themecc0000{
    @include theme(#cc0000);
  }
  .theme0000ff{
    @include theme(#0000ff);
  }
 
}


h1 {
  font-weight: 100;
  font-size: 6.5rem;
  @include mobile {
    font-size: 4rem;
  }
}
.h1-smaller{
  font-size: 4.5rem;
  span{
    color: white;
  }
  @include mobile {
    font-size: 2.5rem;
  }
}

.email-dir{
  font-size: 3.5rem;
  @include mobile(){
    font-size: 1.4rem;
  }
}

ul {
  list-style-type: none;
}

p {
  margin: 10px 0px;
}

#scene-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.data {
  font-family: "Space Mono", monospace;
  position: relative;
  //color: white;
  padding: 0% 200px;
  z-index: 10;
  font-size: 2rem;

  @include mobile {
    padding: 0 7.5%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 40px;
  font-size: 1.4rem;
  &-left,
  &-right {
    display: flex;
    width: 50%;
  }
  &-left {
    display: flex;
    align-items: center;
    margin-left: 2%;
    .svgs{
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg{
      }
      
    }
  }
  &-right {
    margin-right: 2%;

    justify-content: flex-end;
    p{
    }
    .bg-toggle {
      display: flex;
      align-items: center;
      
    }
  }
  @include mobile{
  background: $black-transparent;
  }
}

.hero {
  min-height: 100vh;
  display: flex;
  &-left,
  &-right {
    display: flex;
    align-items: center;
    width: 50%;
  }
  &-left {
    &-content{
      p{
        margin: 0px;
      }
      .hero-subtitle {
        display: flex;
        
        span {
          width: 25px;
        }
        &-text {
          width: 100%;
          cursor: pointer;
          transition: 0.5s;
          min-height: 40px;
          
          
        }
      }
    }
   
  }
  &-right {
    justify-content: center;
    &-content {
    user-select: none;
    display: grid;
    width: 80%;
    min-height: 352px;
    font-size: 0.7rem;
    transition: 1s;
    padding: 0px 10px;
    
    img {
      opacity: 0;
      grid-column: 1;
      grid-row: 1;
      height: 352px;
      width: 343px;
      z-index: 2;
      margin: 10px 0px 10px 0px;
      transition: 0.25s;
      &:active {
        opacity: 1;
      }
    }
    p {
      margin: 10px 0px;
      grid-column: 1;
      grid-row: 1;
      z-index: 1;
    }
  }
  @media screen and (max-width: 1361px) {
    display: none;
  }
  }
  @include mobile() {
    display: flex;
    &-left{
      width: 100%;
      .title-container{
        margin-bottom: 200px;
      }
    }
  }
}

.section-one{
  padding: 0px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  &-left, &-right{
    width: 50%;
    padding: 0px 5px;    
  }
  &-left{
    display: flex;
    flex-direction: column;
    .text-container{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0px;

      }
      .link-h{
        color: #FFFF00;
        border-color: #FFFF00 !important;
      }
      .link-ns{
        color: #F13C45;
        border-color: #F13C45 !important;

      }
    }
    .roadmap{
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;
      &-data{
        text-align: center;
        padding: 10px 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        &-item{
          width: 80%;
          display: flex;
          align-items: center;
          flex-direction: column;
          .item-title{
            margin: 0px 0px 10px 0px;
          }
          .item-dates{
            font-size: 1.5rem;
            
          }
          
        }
        .wire{
          margin: 10px 0px;
          width: 1px;
          height: 100px;
        }
      }
    }
  }
  &-right{
    display: flex;
    flex-direction: column;
    .skill-list-item{
      padding-left: 20px;
      span{
        margin-right: 10px;
        color: white;
      }
    }
    .tech{
      margin-bottom: 10px;
      &-data{
        display: flex;
        align-items: center;
        &-text{
          max-width: 200px;
          ul{
            display: flex;
            flex-direction: column;
            li{
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              height: 35px;
              &:last-child{
              margin-bottom: 0px;
              }
              
            }
            #js{
              color: $js;
            }
            #py{
              color: $py;
            }
            #sol{
              color: $sol;
            }
            #react{
              color: $react;
            }
            #vue{
              color: $vue;
            }
            #three{
              color: white;
            }
            #node{
              color: $node;
            }
            #xprs{
              color: $xprs;
            }
            #sqlz{
              color: $sqlz;
            }
            #mongo{
              color: $mongo;
            }
            #psql {
              color: $psql ;
            }
          }
        }
        &-img{
          opacity: 0;
          display: flex;
          justify-content: center;
          flex: 1 1 0;
          height: 100%;
          img{
            width: 50%;
          }
        }
        @include mobile{
          &-img{
            display: none;
          }
        }
      }
      
    }
    .soft{
      flex: 1 1 0px;
    }
  }
  @include  mobile(){
    flex-direction: column;
    &-left, &-right{
      width: 100%;
    }
    &-left{
      margin-bottom: 10px;
    }
  }
}

.section-contact{
  min-height: 50vh;
  padding-bottom: 100px;
  .text-container{
    padding: 50px !important;
    h1{
      margin: 0px 0px 50px 0px !important;
    }
    .h1-smaller{
      margin: 20px 0px !important;
    }
  }
}

//ASCII EFFECT:

