@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: #ffb000;
}

::selection {
  color: #ffb000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1em;
}

/* Handle on hover */
html,
body {
  overflow: overlay;
  font-size: 62.5%;
}

html .theme00F75C,
body .theme00F75C {
  color: white;
}

html .theme00F75C .wire,
body .theme00F75C .wire {
  background: #00F75C;
}

html .theme00F75C .text-container, html .theme00F75C .title-container,
body .theme00F75C .text-container,
body .theme00F75C .title-container {
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .theme00F75C .text-container:hover, html .theme00F75C .title-container:hover,
body .theme00F75C .text-container:hover,
body .theme00F75C .title-container:hover {
  border-color: #00F75C;
  background: black;
}

html .theme00F75C .hero-subtitle-text:hover,
body .theme00F75C .hero-subtitle-text:hover {
  color: #00F75C;
}

html .theme00F75C .hero-right-content,
body .theme00F75C .hero-right-content {
  border: 1px solid rgba(0, 0, 0, 0);
}

html .theme00F75C .hero-right-content:hover,
body .theme00F75C .hero-right-content:hover {
  width: 343px;
  border-color: #00F75C;
  background: black;
  color: #00F75C;
}

html .theme00F75C .hero-right-content img,
body .theme00F75C .hero-right-content img {
  border: 1px solid #00F75C;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

html .theme00F75C .svg-container svg,
body .theme00F75C .svg-container svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: white;
  width: 20px;
}

html .theme00F75C .svg-container :hover svg,
body .theme00F75C .svg-container :hover svg {
  fill: #00F75C;
}

html .theme00F75C .navbar-center,
body .theme00F75C .navbar-center {
  opacity: 0;
  width: 300px;
}

html .theme00F75C .navbar-center:hover,
body .theme00F75C .navbar-center:hover {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  html .theme00F75C .navbar-center,
  body .theme00F75C .navbar-center {
    display: none;
  }
}

html .theme00F75C ::-moz-selection,
body .theme00F75C ::-moz-selection {
  color: #00F75C;
}

html .theme00F75C ::selection,
body .theme00F75C ::selection {
  color: #00F75C;
}

html .theme00F75C .text-container, html .theme00F75C .title-container,
body .theme00F75C .text-container,
body .theme00F75C .title-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
}

html .theme00F75C .link,
body .theme00F75C .link {
  color: #00F75C;
  text-decoration: none;
  font-weight: 400;
}

html .theme00F75C .link:hover,
body .theme00F75C .link:hover {
  font-weight: 700;
}

html .theme00F75C .bg-toggle .toggle,
body .theme00F75C .bg-toggle .toggle {
  position: relative;
}

html .theme00F75C .bg-toggle .toggle input,
body .theme00F75C .bg-toggle .toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

html .theme00F75C .bg-toggle .toggle,
body .theme00F75C .bg-toggle .toggle {
  color: #fff;
  font-size: 6em;
  display: block;
}

html .theme00F75C .bg-toggle .slider,
body .theme00F75C .bg-toggle .slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
  height: 20px;
}

html .theme00F75C .bg-toggle .slider:before,
body .theme00F75C .bg-toggle .slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0px;
  left: 0px;
}

html .theme00F75C .bg-toggle input:checked + .slider,
body .theme00F75C .bg-toggle input:checked + .slider {
  background-color: #00F75C;
}

html .theme00F75C .bg-toggle input:checked + .slider:before,
body .theme00F75C .bg-toggle input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

html .theme00F75C .bg-toggle .slider.round,
body .theme00F75C .bg-toggle .slider.round {
  border-radius: 1em;
}

html .theme00F75C .bg-toggle .slider.round::before,
body .theme00F75C .bg-toggle .slider.round::before {
  border-radius: 100%;
}

html .themeFFB000,
body .themeFFB000 {
  color: white;
}

html .themeFFB000 .wire,
body .themeFFB000 .wire {
  background: #FFB000;
}

html .themeFFB000 .text-container, html .themeFFB000 .title-container,
body .themeFFB000 .text-container,
body .themeFFB000 .title-container {
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .themeFFB000 .text-container:hover, html .themeFFB000 .title-container:hover,
body .themeFFB000 .text-container:hover,
body .themeFFB000 .title-container:hover {
  border-color: #FFB000;
  background: black;
}

html .themeFFB000 .hero-subtitle-text:hover,
body .themeFFB000 .hero-subtitle-text:hover {
  color: #FFB000;
}

html .themeFFB000 .hero-right-content,
body .themeFFB000 .hero-right-content {
  border: 1px solid rgba(0, 0, 0, 0);
}

html .themeFFB000 .hero-right-content:hover,
body .themeFFB000 .hero-right-content:hover {
  width: 343px;
  border-color: #FFB000;
  background: black;
  color: #FFB000;
}

html .themeFFB000 .hero-right-content img,
body .themeFFB000 .hero-right-content img {
  border: 1px solid #FFB000;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

html .themeFFB000 .svg-container svg,
body .themeFFB000 .svg-container svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: white;
  width: 20px;
}

html .themeFFB000 .svg-container :hover svg,
body .themeFFB000 .svg-container :hover svg {
  fill: #FFB000;
}

html .themeFFB000 .navbar-center,
body .themeFFB000 .navbar-center {
  opacity: 0;
  width: 300px;
}

html .themeFFB000 .navbar-center:hover,
body .themeFFB000 .navbar-center:hover {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  html .themeFFB000 .navbar-center,
  body .themeFFB000 .navbar-center {
    display: none;
  }
}

html .themeFFB000 ::-moz-selection,
body .themeFFB000 ::-moz-selection {
  color: #FFB000;
}

html .themeFFB000 ::selection,
body .themeFFB000 ::selection {
  color: #FFB000;
}

html .themeFFB000 .text-container, html .themeFFB000 .title-container,
body .themeFFB000 .text-container,
body .themeFFB000 .title-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
}

html .themeFFB000 .link,
body .themeFFB000 .link {
  color: #FFB000;
  text-decoration: none;
  font-weight: 400;
}

html .themeFFB000 .link:hover,
body .themeFFB000 .link:hover {
  font-weight: 700;
}

html .themeFFB000 .bg-toggle .toggle,
body .themeFFB000 .bg-toggle .toggle {
  position: relative;
}

html .themeFFB000 .bg-toggle .toggle input,
body .themeFFB000 .bg-toggle .toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

html .themeFFB000 .bg-toggle .toggle,
body .themeFFB000 .bg-toggle .toggle {
  color: #fff;
  font-size: 6em;
  display: block;
}

html .themeFFB000 .bg-toggle .slider,
body .themeFFB000 .bg-toggle .slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
  height: 20px;
}

html .themeFFB000 .bg-toggle .slider:before,
body .themeFFB000 .bg-toggle .slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0px;
  left: 0px;
}

html .themeFFB000 .bg-toggle input:checked + .slider,
body .themeFFB000 .bg-toggle input:checked + .slider {
  background-color: #FFB000;
}

html .themeFFB000 .bg-toggle input:checked + .slider:before,
body .themeFFB000 .bg-toggle input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

html .themeFFB000 .bg-toggle .slider.round,
body .themeFFB000 .bg-toggle .slider.round {
  border-radius: 1em;
}

html .themeFFB000 .bg-toggle .slider.round::before,
body .themeFFB000 .bg-toggle .slider.round::before {
  border-radius: 100%;
}

html .themeFFCC00,
body .themeFFCC00 {
  color: white;
}

html .themeFFCC00 .wire,
body .themeFFCC00 .wire {
  background: #FFCC00;
}

html .themeFFCC00 .text-container, html .themeFFCC00 .title-container,
body .themeFFCC00 .text-container,
body .themeFFCC00 .title-container {
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .themeFFCC00 .text-container:hover, html .themeFFCC00 .title-container:hover,
body .themeFFCC00 .text-container:hover,
body .themeFFCC00 .title-container:hover {
  border-color: #FFCC00;
  background: black;
}

html .themeFFCC00 .hero-subtitle-text:hover,
body .themeFFCC00 .hero-subtitle-text:hover {
  color: #FFCC00;
}

html .themeFFCC00 .hero-right-content,
body .themeFFCC00 .hero-right-content {
  border: 1px solid rgba(0, 0, 0, 0);
}

html .themeFFCC00 .hero-right-content:hover,
body .themeFFCC00 .hero-right-content:hover {
  width: 343px;
  border-color: #FFCC00;
  background: black;
  color: #FFCC00;
}

html .themeFFCC00 .hero-right-content img,
body .themeFFCC00 .hero-right-content img {
  border: 1px solid #FFCC00;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

html .themeFFCC00 .svg-container svg,
body .themeFFCC00 .svg-container svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: white;
  width: 20px;
}

html .themeFFCC00 .svg-container :hover svg,
body .themeFFCC00 .svg-container :hover svg {
  fill: #FFCC00;
}

html .themeFFCC00 .navbar-center,
body .themeFFCC00 .navbar-center {
  opacity: 0;
  width: 300px;
}

html .themeFFCC00 .navbar-center:hover,
body .themeFFCC00 .navbar-center:hover {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  html .themeFFCC00 .navbar-center,
  body .themeFFCC00 .navbar-center {
    display: none;
  }
}

html .themeFFCC00 ::-moz-selection,
body .themeFFCC00 ::-moz-selection {
  color: #FFCC00;
}

html .themeFFCC00 ::selection,
body .themeFFCC00 ::selection {
  color: #FFCC00;
}

html .themeFFCC00 .text-container, html .themeFFCC00 .title-container,
body .themeFFCC00 .text-container,
body .themeFFCC00 .title-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
}

html .themeFFCC00 .link,
body .themeFFCC00 .link {
  color: #FFCC00;
  text-decoration: none;
  font-weight: 400;
}

html .themeFFCC00 .link:hover,
body .themeFFCC00 .link:hover {
  font-weight: 700;
}

html .themeFFCC00 .bg-toggle .toggle,
body .themeFFCC00 .bg-toggle .toggle {
  position: relative;
}

html .themeFFCC00 .bg-toggle .toggle input,
body .themeFFCC00 .bg-toggle .toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

html .themeFFCC00 .bg-toggle .toggle,
body .themeFFCC00 .bg-toggle .toggle {
  color: #fff;
  font-size: 6em;
  display: block;
}

html .themeFFCC00 .bg-toggle .slider,
body .themeFFCC00 .bg-toggle .slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
  height: 20px;
}

html .themeFFCC00 .bg-toggle .slider:before,
body .themeFFCC00 .bg-toggle .slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0px;
  left: 0px;
}

html .themeFFCC00 .bg-toggle input:checked + .slider,
body .themeFFCC00 .bg-toggle input:checked + .slider {
  background-color: #FFCC00;
}

html .themeFFCC00 .bg-toggle input:checked + .slider:before,
body .themeFFCC00 .bg-toggle input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

html .themeFFCC00 .bg-toggle .slider.round,
body .themeFFCC00 .bg-toggle .slider.round {
  border-radius: 1em;
}

html .themeFFCC00 .bg-toggle .slider.round::before,
body .themeFFCC00 .bg-toggle .slider.round::before {
  border-radius: 100%;
}

html .themecc0000,
body .themecc0000 {
  color: white;
}

html .themecc0000 .wire,
body .themecc0000 .wire {
  background: #cc0000;
}

html .themecc0000 .text-container, html .themecc0000 .title-container,
body .themecc0000 .text-container,
body .themecc0000 .title-container {
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .themecc0000 .text-container:hover, html .themecc0000 .title-container:hover,
body .themecc0000 .text-container:hover,
body .themecc0000 .title-container:hover {
  border-color: #cc0000;
  background: black;
}

html .themecc0000 .hero-subtitle-text:hover,
body .themecc0000 .hero-subtitle-text:hover {
  color: #cc0000;
}

html .themecc0000 .hero-right-content,
body .themecc0000 .hero-right-content {
  border: 1px solid rgba(0, 0, 0, 0);
}

html .themecc0000 .hero-right-content:hover,
body .themecc0000 .hero-right-content:hover {
  width: 343px;
  border-color: #cc0000;
  background: black;
  color: #cc0000;
}

html .themecc0000 .hero-right-content img,
body .themecc0000 .hero-right-content img {
  border: 1px solid #cc0000;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

html .themecc0000 .svg-container svg,
body .themecc0000 .svg-container svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: white;
  width: 20px;
}

html .themecc0000 .svg-container :hover svg,
body .themecc0000 .svg-container :hover svg {
  fill: #cc0000;
}

html .themecc0000 .navbar-center,
body .themecc0000 .navbar-center {
  opacity: 0;
  width: 300px;
}

html .themecc0000 .navbar-center:hover,
body .themecc0000 .navbar-center:hover {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  html .themecc0000 .navbar-center,
  body .themecc0000 .navbar-center {
    display: none;
  }
}

html .themecc0000 ::-moz-selection,
body .themecc0000 ::-moz-selection {
  color: #cc0000;
}

html .themecc0000 ::selection,
body .themecc0000 ::selection {
  color: #cc0000;
}

html .themecc0000 .text-container, html .themecc0000 .title-container,
body .themecc0000 .text-container,
body .themecc0000 .title-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
}

html .themecc0000 .link,
body .themecc0000 .link {
  color: #cc0000;
  text-decoration: none;
  font-weight: 400;
}

html .themecc0000 .link:hover,
body .themecc0000 .link:hover {
  font-weight: 700;
}

html .themecc0000 .bg-toggle .toggle,
body .themecc0000 .bg-toggle .toggle {
  position: relative;
}

html .themecc0000 .bg-toggle .toggle input,
body .themecc0000 .bg-toggle .toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

html .themecc0000 .bg-toggle .toggle,
body .themecc0000 .bg-toggle .toggle {
  color: #fff;
  font-size: 6em;
  display: block;
}

html .themecc0000 .bg-toggle .slider,
body .themecc0000 .bg-toggle .slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
  height: 20px;
}

html .themecc0000 .bg-toggle .slider:before,
body .themecc0000 .bg-toggle .slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0px;
  left: 0px;
}

html .themecc0000 .bg-toggle input:checked + .slider,
body .themecc0000 .bg-toggle input:checked + .slider {
  background-color: #cc0000;
}

html .themecc0000 .bg-toggle input:checked + .slider:before,
body .themecc0000 .bg-toggle input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

html .themecc0000 .bg-toggle .slider.round,
body .themecc0000 .bg-toggle .slider.round {
  border-radius: 1em;
}

html .themecc0000 .bg-toggle .slider.round::before,
body .themecc0000 .bg-toggle .slider.round::before {
  border-radius: 100%;
}

html .theme0000ff,
body .theme0000ff {
  color: white;
}

html .theme0000ff .wire,
body .theme0000ff .wire {
  background: #0000ff;
}

html .theme0000ff .text-container, html .theme0000ff .title-container,
body .theme0000ff .text-container,
body .theme0000ff .title-container {
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .theme0000ff .text-container:hover, html .theme0000ff .title-container:hover,
body .theme0000ff .text-container:hover,
body .theme0000ff .title-container:hover {
  border-color: #0000ff;
  background: black;
}

html .theme0000ff .hero-subtitle-text:hover,
body .theme0000ff .hero-subtitle-text:hover {
  color: #0000ff;
}

html .theme0000ff .hero-right-content,
body .theme0000ff .hero-right-content {
  border: 1px solid rgba(0, 0, 0, 0);
}

html .theme0000ff .hero-right-content:hover,
body .theme0000ff .hero-right-content:hover {
  width: 343px;
  border-color: #0000ff;
  background: black;
  color: #0000ff;
}

html .theme0000ff .hero-right-content img,
body .theme0000ff .hero-right-content img {
  border: 1px solid #0000ff;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

html .theme0000ff .svg-container svg,
body .theme0000ff .svg-container svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: white;
  width: 20px;
}

html .theme0000ff .svg-container :hover svg,
body .theme0000ff .svg-container :hover svg {
  fill: #0000ff;
}

html .theme0000ff .navbar-center,
body .theme0000ff .navbar-center {
  opacity: 0;
  width: 300px;
}

html .theme0000ff .navbar-center:hover,
body .theme0000ff .navbar-center:hover {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  html .theme0000ff .navbar-center,
  body .theme0000ff .navbar-center {
    display: none;
  }
}

html .theme0000ff ::-moz-selection,
body .theme0000ff ::-moz-selection {
  color: #0000ff;
}

html .theme0000ff ::selection,
body .theme0000ff ::selection {
  color: #0000ff;
}

html .theme0000ff .text-container, html .theme0000ff .title-container,
body .theme0000ff .text-container,
body .theme0000ff .title-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
}

html .theme0000ff .link,
body .theme0000ff .link {
  color: #0000ff;
  text-decoration: none;
  font-weight: 400;
}

html .theme0000ff .link:hover,
body .theme0000ff .link:hover {
  font-weight: 700;
}

html .theme0000ff .bg-toggle .toggle,
body .theme0000ff .bg-toggle .toggle {
  position: relative;
}

html .theme0000ff .bg-toggle .toggle input,
body .theme0000ff .bg-toggle .toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

html .theme0000ff .bg-toggle .toggle,
body .theme0000ff .bg-toggle .toggle {
  color: #fff;
  font-size: 6em;
  display: block;
}

html .theme0000ff .bg-toggle .slider,
body .theme0000ff .bg-toggle .slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
  height: 20px;
}

html .theme0000ff .bg-toggle .slider:before,
body .theme0000ff .bg-toggle .slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0px;
  left: 0px;
}

html .theme0000ff .bg-toggle input:checked + .slider,
body .theme0000ff .bg-toggle input:checked + .slider {
  background-color: #0000ff;
}

html .theme0000ff .bg-toggle input:checked + .slider:before,
body .theme0000ff .bg-toggle input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

html .theme0000ff .bg-toggle .slider.round,
body .theme0000ff .bg-toggle .slider.round {
  border-radius: 1em;
}

html .theme0000ff .bg-toggle .slider.round::before,
body .theme0000ff .bg-toggle .slider.round::before {
  border-radius: 100%;
}

h1 {
  font-weight: 100;
  font-size: 6.5rem;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 4.5rem;
  }
}

ul {
  list-style-type: none;
}

p {
  margin: 10px 0px;
}

#scene-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.data {
  font-family: "Space Mono", monospace;
  position: relative;
  padding: 0% 200px;
  z-index: 10;
  font-size: 2rem;
}

@media screen and (max-width: 1023px) {
  .data {
    padding: 0 7.5%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 40px;
  font-size: 1.4rem;
}

.navbar-left, .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2%;
}

.navbar-left .svgs {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right {
  margin-right: 2%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-right .bg-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .navbar {
    background: rgba(0, 0, 0, 0.8);
  }
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-left, .hero-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.hero-left-content p {
  margin: 0px;
}

.hero-left-content .hero-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-left-content .hero-subtitle span {
  width: 25px;
}

.hero-left-content .hero-subtitle-text {
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 40px;
}

.hero-right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-right-content {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
  width: 80%;
  min-height: 352px;
  font-size: 0.7rem;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 0px 10px;
}

.hero-right-content img {
  opacity: 0;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 352px;
  width: 343px;
  z-index: 2;
  margin: 10px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-right-content img:active {
  opacity: 1;
}

.hero-right-content p {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 1;
}

@media screen and (max-width: 1361px) {
  .hero-right {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-left {
    width: 100%;
  }
  .hero-left .title-container {
    margin-bottom: 200px;
  }
}

.section-one {
  padding: 0px 0px 200px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-one-left, .section-one-right {
  width: 50%;
  padding: 0px 5px;
}

.section-one-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one-left .text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  margin-bottom: 10px;
}

.section-one-left .text-container:last-child {
  margin-bottom: 0px;
}

.section-one-left .text-container .link-h {
  color: #FFFF00;
  border-color: #FFFF00 !important;
}

.section-one-left .text-container .link-ns {
  color: #F13C45;
  border-color: #F13C45 !important;
}

.section-one-left .roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one-left .roadmap-data {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one-left .roadmap-data-item {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one-left .roadmap-data-item .item-dates {
  font-size: 1.5rem;
}

.section-one-left .roadmap-data .wire {
  margin: 10px 0px;
  width: 1px;
  height: 100px;
}

.section-one-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one-right .tech {
  margin-bottom: 10px;
}

.section-one-right .tech-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one-right .tech-data-text {
  max-width: 200px;
}

.section-one-right .tech-data-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.section-one-right .tech-data-text ul li {
  margin-bottom: 10px;
}

.section-one-right .tech-data-text ul li:last-child {
  margin-bottom: 0px;
}

.section-one-right .tech-data-text ul li span {
  color: white;
}

.section-one-right .tech-data-text ul #js {
  color: #f0db4f;
}

.section-one-right .tech-data-text ul #py {
  color: #4B8BBE;
}

.section-one-right .tech-data-text ul #sol {
  color: #1BE6E7;
}

.section-one-right .tech-data-text ul #react {
  color: #61DBFB;
}

.section-one-right .tech-data-text ul #vue {
  color: #41B883;
}

.section-one-right .tech-data-text ul #node {
  color: #3c873a;
}

.section-one-right .tech-data-text ul #xprs {
  color: #68a063;
}

.section-one-right .tech-data-text ul #sqlz {
  color: #01AFEF;
}

.section-one-right .tech-data-text ul #mongo {
  color: #4DB33D;
}

.section-one-right .tech-data-text ul #psql {
  color: #0064a5;
}

.section-one-right .tech-data-img {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 100%;
}

.section-one-right .tech-data-img img {
  width: 50%;
}

@media screen and (max-width: 1023px) {
  .section-one-right .tech-data-img {
    display: none;
  }
}

.section-one-right .soft {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

@media screen and (max-width: 1023px) {
  .section-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-one-left, .section-one-right {
    width: 100%;
  }
  .section-one-left {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */