// mixins

@mixin theme($color){
    color: white;
  
    .wire{
      transition: 0.5s;
      background: white;
    }
  
    .text-container, .title-container{
      border: 1px solid black;
      transition: 0.5s;
      &:hover{
        border-color: $color;
        background: black;
        .wire{
          background: $color;
        }
      }
    }
    .hero-subtitle-text:hover{
      color: $color;
    }
  
    .hero-right-content{ 
      border: 1px solid rgba(0, 0, 0, 0);
      &:hover{
       cursor: pointer;
      width: 343px;
      border-color: $color;
      background: black;
      color: $color;
      }
      img{
        border: 1px solid $color;
        transform: translateX(-1px);
      }
    }
  
    .svg-container{
      svg{
        display: flex;
        fill: white;
        width: 20px;
      }
      :hover{
        svg{
          fill: $color;
        }
      }
    }
    .navbar-center{
      opacity: 0;
      width: 300px;
  
      &:hover{
        opacity: 1;
      }
  
      @include mobile{
        display: none;
      }
    }
  
  
  
  
    ::selection {
      color: $black-transparent;
      background:  $color;
    }
  
    .text-container, .title-container{
      background-color: $black-transparent;
      padding: 0px 10px;
    }
  
  
    .link{
      color: $color;
      text-decoration: none;
      font-weight: 400;
      &:hover{
      font-weight: 700;
  
      }
  
    
    }
  
    .bg-toggle {
      .toggle {
        position: relative;
      }
  
      .toggle input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
  
      .toggle {
        color: #fff;
        font-size: 6em;
        display: block;
      }
  
      .slider {
        position: relative;
        display: block;
        cursor: pointer;
        background-color: black;
        transition: 0.4s;
        width: 40px;
        height: 20px;
      }
  
      .slider:before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #fff;
        transition: 0.4s;
        top: 0px;
        left: 0px;
      }
  
      input:checked + .slider {
        background-color: $color;
  
        //box-shadow: 0 0 12px $amber;
      }
  
      input:checked + .slider:before {
        //background: $amberLighter;
  
        transform: translateX(20px);
      }
  
      .slider.round {
        border-radius: 1em;
      }
      .slider.round::before {
        border-radius: 100%;
      }
    }
  }
  
  // responsive breakpoints
  $mobileW: 1023px;
  @mixin mobile() {
    @media screen and (max-width: $mobileW) {
      @content;
    }
  }