//colors:
$black-transparent: rgba(0, 0, 0, 0.8);
$amber: #ffb000;
$amberLighter: hsl(41, 100%, 80%);
$js: #f0db4f;
$py: #4B8BBE;
$sol: #1BE6E7;
$react: #61DBFB;
$vue: #41B883;
$node: #3c873a;
$xprs: #68a063;
$sqlz: #01AFEF;
$mongo: #4DB33D;
$psql: #0064a5;